@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    display: flexbox;
    font-family: 'Source Sans Pro', sans-serif;
}
.navbar {
    border: 1px solid black;
    position: relative;
    border-radius: 1em;
    width: 70%;
    margin: auto;
    display: flex;
}
.navbar ul {
    position: relative;
    height: inherit;
    width: inherit;

}
.navbar ul li {
    border: 1px solid yellow;
    display: inline;
    margin-right: 1em;
    align-self: center;
}
.navbar ul li:last-child {
    
}
#list {
    align-self: center;
    align-items: center;
}
#logo {
    border: 1px solid purple;
    position: relative;
    align-self: center;
    border-radius: 2em;
    /* left: 1em; */
    margin-right: 1em;
}
#logo img {
    height: 40px;
    width: 40
    px;
}